body {
    background-color: blue;
    font-family:AppleMyungjo;
}

h1 {
    font-family:AppleMyungjo;
    color:yellow;
}
body{
    background-color:green;
}
{
    color: white;
    padding-left: 50%;
}
